.course {
    @media (max-width: 1199px) {
        padding: 50px 0;
        &__list {
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            li {
                padding: 15px;
                border-radius: 6px;
                h4 {
                    font-size: 18px;
                    margin-bottom: 16px;
                }

                span {
                    max-width: 126px;
                    font-size: 14px;
                }
            }
        }

        &__content {
            &-title {
                padding: 15px;
                font-size: 22px;
            }
            &-body {
                padding: 15px;
                li {
                    margin-bottom: 23px;
                    div {
                        font-size: 22px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }

            &-footer {
                padding: 0 15px 25px 15px;
                p {
                    font-size: 16px;
                }

            }
        }
    }
    @media (max-width: 991px) {
    }
    @media (max-width: 767px) {
        padding: 40px 0;
        &__box {
            grid-template-columns: repeat(1, 1fr);
        }

        &__list {
            grid-template-columns: repeat(1, 1fr);
            li {
                h4 {
                    font-size: 17px;
                }
            }
        }

        &__content {
            &-title {
                font-size: 20px;
            }
        }
    }
    @media (max-width: 575px) {
    }
}
