{%
    set tabs = [
        {
            title: 'Косметик <br> (Спа-технолог)',
            data: 'tab-1',
            class: 'active',
            text: 'очно-заочно'
        },
        {
            title: 'Косметик <br> (Спа-технолог)',
            data: 'tab-2',
            text: 'онлайн'
        },
        {
            title: 'Банное мастерство. Основы правильного парения',
            data: 'tab-3',
            text: 'очно-заочно'
        },
        {
            title: 'Банное мастерство. Основы правильного парения',
            data: 'tab-4',
            text: 'онлайн'
        }
    ]
%}

{%
    set content = [
        {
            title: 'СПА-специалист. Банное мастерство и&nbsp;фитотерапия',
            id: 'tab-1',
            class: 'active',
            body:' 
            <li>
                <div>Тип программы</div>
                <p>программа профессионального обучения</p>
            </li>
            <li>
                <div>Длительность в часах</div>
                <p>280 ак.ч</p>
            </li>
            <li>
                <div>Продолжительность обучения</div>
                <p>2 месяца</p>
            </li>
            <li>
                <div>Форма обучения</div>
                <p>очно-заочная</p>
            </li>
            <li>
                <div>Теория</div>
                <p>онлайн</p>
            </li>
            <li>
                <div>Практика</div>
                <p>14&nbsp;дней очной практики в&nbsp;СПА-салонах и&nbsp;банях Москвы, а&nbsp;также на&nbsp;площадке университета &laquo;Синергия&raquo; (с&nbsp;ПН по&nbsp;ВС&nbsp;2&nbsp;недели)</p>
            </li>
            ',
            text: 'Выдаваемый документ: свидетельство о&nbsp;присвоении профессии &laquo;СПА-косметик&raquo;'
        },
        {
            title: 'СПА-специалист. Банное мастерство и&nbsp;фитотерапия',
            id: 'tab-2',
            body:' 
            <li>
                <div>Тип программы</div>
                <p>программа профессионального обучения</p>
            </li>
            <li>
                <div>Длительность в часах</div>
                <p>280 ак.ч</p>
            </li>
            <li>
                <div>Продолжительность обучения</div>
                <p>2 месяца</p>
            </li>
            <li>
                <div>Форма обучения</div>
                <p>онлайн</p>
            </li>
            ',
            text: 'Выдаваемый документ: свидетельство о&nbsp;присвоении профессии &laquo;СПА-косметик&raquo;'
        },
        {
            title: 'Банное мастерство. Основы правильного парения',
            id: 'tab-3',
            body:' 
            <li>
                <div>Тип программы</div>
                <p>программа дополнительного образования детей и&nbsp;взрослых</p>
            </li>
            <li>
                <div>Длительность в часах</div>
                <p>72 ак.ч</p>
            </li>
            <li>
                <div>Продолжительность обучения</div>
                <p>1 месяц</p>
            </li>
            <li>
                <div>Форма обучения</div>
                <p>очно-заочная</p>
            </li>
            <li>
                <div>Теория</div>
                <p>онлайн</p>
            </li>
            <li>
                <div>Практика</div>
                <p>2&nbsp;дня очной практики в&nbsp;бане Москвы (выходные дни)</p>
            </li>
            ',
            text: 'Выдаваемый документ: сертификат о&nbsp;прохождении курса'
        },
        {
            title: 'Банное мастерство. Основы правильного парения',
            id: 'tab-4',
            body:' 
            <li>
                <div>Тип программы</div>
                <p>программа дополнительного образования детей и&nbsp;взрослых</p>
            </li>
            <li>
                <div>Длительность в часах</div>
                <p>72 ак.ч</p>
            </li>
            <li>
                <div>Продолжительность обучения</div>
                <p>1 месяц</p>
            </li>
            <li>
                <div>Форма обучения</div>
                <p>онлайн</p>
            </li>
            ',
            text: 'Выдаваемый документ: сертификат о&nbsp;прохождении курса'
        }
        ]
%}