.education {
    @media (max-width: 1199px) {
        padding: 50px 0;
        &__box {
            margin-bottom: 50px;
            &-item {
                padding: 15px;
                margin-bottom: 12px;
                &-number {
                    width: 37px;
                    height: 40px;
                    font-size: 20px;
                }

                &-content {
                    h4 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        .acco {
            &__title {
                font-size: 32px;
                margin-bottom: 25px;
            }

            &__item {
                &-title {
                    font-size: 20px;
                }
            }

            &__content {
                span {
                    font-size: 16px;
                    max-width: 170px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 991px) {
    }
    @media (max-width: 767px) {
        padding: 40px 0;
        &__box {
            grid-template-columns: repeat(1, 1fr);
        }

        .acco {
            &__title {
                margin-bottom: 24px;
                font-size: 20px;
            }

            &__item {
                &.open {
                    .acco__content {
                        padding: 15px 0 0 0;
                    } 
                }
                &-title {
                    &:after {
                        width: 13px;
                        height: 8px;
                    }
                }
            }

            &__content {
                padding: 0;
                &-item {
                    margin-bottom: 15px;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0 25px 15px 25px;
                    border-bottom: 1px solid #CFD3D8;
                    &:last-child {
                        border-bottom: none;
                    }
                    span {
                        margin-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575px) {
    }
}
