{%
    set data =  [
	{
		title: '1-ая неделя:',
        content: '
        <li class="acco__content-item">
            <span>ПН – 19:00-22:00 </span>
            <p>&laquo;сухое парение&raquo; на&nbsp;кушетках с&nbsp;вениками</p>
        </li>
        <li class="acco__content-item">
            <span>ВТ – 19:00-22:00 </span>
            <p>&laquo;сухое парение&raquo; на&nbsp;кушетках с&nbsp;вениками</p>
        </li>
        <li class="acco__content-item">
            <span>СР – 19:00-22:00 </span>
            <p>&laquo;сухое парение&raquo; на&nbsp;кушетках с&nbsp;вениками</p>
        </li>
        <li class="acco__content-item">
            <span>ЧТ – 19:00-22:00 </span>
            <p>&laquo;сухое парение&raquo; на&nbsp;кушетках с&nbsp;вениками</p>
        </li>
        <li class="acco__content-item">
            <span>ПТ – 19:00-22:00 </span>
            <p>&laquo;сухое парение&raquo; на&nbsp;кушетках с&nbsp;вениками</p>
        </li>
        <li class="acco__content-item">
            <span>СБ – 11:00-14:15 <br>и 15:30-19:45 </span>
            <p>практика в&nbsp;русской бане (по&nbsp;подгруппам)</p>
        </li>
        <li class="acco__content-item">
            <span>ВС – 11:00-14:15 <br>и 15:30-19:45</span>
            <p>практика в&nbsp;русской бане (по&nbsp;подгруппам)</p>
        </li>
        '
	},
	{
		title: '2-ая неделя:',
        content: '
        <li class="acco__content-item">
            <span>ПН – 19:00-22:00 </span>
            <p>практика по&nbsp;классическому массажу, площадка &laquo;Синергии&raquo;</p>
        </li>
        <li class="acco__content-item">
            <span>ВТ – 19:00-22:00 </span>
            <p>практика по&nbsp;классическому массажу, площадка &laquo;Синергии&raquo;</p>
        </li>
        <li class="acco__content-item">
            <span>СР – 19:00-22:00 </span>
            <p>практика по&nbsp;классическому массажу, площадка &laquo;Синергии&raquo;</p>
        </li>
        <li class="acco__content-item">
            <span>ЧТ – 19:00-22:00 </span>
            <p>практика в&nbsp;СПА-салоне</p>
        </li>
        <li class="acco__content-item">
            <span>ПТ – 19:00-22:00 </span>
            <p>практика в&nbsp;СПА-салоне</p>
        </li>
        <li class="acco__content-item">
            <span>СБ – 11:00-14:15 <br>и 15:30-19:45 </span>
            <p>Практика в&nbsp;сауне (по подгруппам)</p>
        </li>
        <li class="acco__content-item">
            <span>ВС – 11:00-14:15 <br>и 15:30-19:45  </span>
            <p>Практика в&nbsp;хамаме (по подгруппам)</p>
        </li>
        '
	}

]

%}