{% 
    set data = [
        {
            img: 'mitaev',
            title: 'Митяев Иван',
            subtitle: 'мастер русского пара',
            desc: '
            <li><span>Общий стаж:</span> Более 10&nbsp;лет</li>
            <li><span>Специализация:</span> Занимается обучением правильному парению в&nbsp;русской бане 6&nbsp;лет</li>
            ',
            list: '
            <li>Пропарил больше 3000 чел</li>
            <li>Обучил больше 100&nbsp;чел.</li>
            <li>Участник крупных фестивалей &laquo;Вотэтно&raquo;, &laquo;Баяна&raquo;, &laquo;Родники&raquo;, &laquo;Осенины&raquo;.</li>
            <li>Ученики работают в&nbsp;5-звездочных отелях в&nbsp;разных городах России.</li>
            <li>Участник банных форумов &laquo;Banya world&raquo; Москва 2019, Крым 2020. Организация банной деятельности в&nbsp;отелях &laquo;Алтай Виладж&raquo;, &laquo;Алтай резорт&raquo;, &quot;Wearealtay&quot;,&quot;Пересвет&laquo;Москва, &laquo;Палласа&raquo; Ялта, &quot;Барнаульские бани&quot;Барнаул</li>
            <li>Финалист чемпионата Сандуны Алтай 2016, 3&nbsp;место чемпионата Сибири 2018</li>
            '
        },
        {
            img: 'efremenko',
            title: 'Ефременко Сергей',
            subtitle: 'массажист',
            desc: '
            <li><span>Общий стаж:</span> Более 20 лет</li>
            <li><span>Специализация:</span> Медицинский, спортивный, релаксирующий, тонизирующий, лимфодренажный массаж, кинезиотейпирование, остеопатия</li>
            ',
            list: '
            <li>Памятная медаль за&nbsp;значительный вклад в&nbsp;подготовку и&nbsp;проведение XXII Олимпийских зимних игр и&nbsp;XI&nbsp;Паралимпийских зимних игр 2014 года в&nbsp;г. Сочи.</li>
            '
        },
        {
            img: 'gylaev',
            title: 'Гуляев Владимир Юрьевич',
            subtitle: 'массажист, СПА-специалист',
            desc: '
            <li><span>Общий стаж:</span> Более 14 лет</li>
            <li><span>Специализация:</span> Классический, лечебный, лимфодренажный, антицеллюлитный, баночный, спортивный массаж, массаж лица, гирудотерапия, обертывания, скрабирование, индивидуальные комплексные СПА процедуры, стоун-терапия</li>
            ',
            list: '
            <li>Массажист с&nbsp;медицинским и&nbsp;педагогическим образованием.</li>
            <li>Регулярно проходит обучение на&nbsp;семинарах по&nbsp;лечебной косметической продукции для массажа.</li>
            <li>2-е место на&nbsp;Чемпионате Москвы по&nbsp;СПА-массажу.</li>
            <li>Практикует работу на&nbsp;аппаратах ICOONE (LPG), Нолар (вибровакуум), STARVAC (прессотерапия), СПА-капсула Dermalife SPA-Jet 2G&nbsp;и&nbsp;др.</li>
            '
        },
        {
            img: 'ten',
            title: 'Тен Виктор',
            subtitle: 'массажист, стипендиат правительства Южной Кореи на кафедре реабилитологии и мануальной терапии, СПА-специалист',
            desc: '
            <li><span>Общий стаж:</span> Более 20 лет</li>
            <li><span>Специализация: </span> Антицеллюлитный, аюрведический, восточный, корректирующий, восстановительный, классический, спортивный, лечебный, лимфодренажный массаж.</li>
            ',
            list: '
            <li>Высшее медицинское образование (Кабардино-Балкария; Москва; Сеул, Южная Корея).</li>
            <li>Международный опыт работы.</li>
            <li>Постоянное повышение квалификации по&nbsp;психологии, построению бизнеса, косметических средствах, СПА-технологиям, лазерной терапии, продажам в&nbsp;салоне и&nbsp;др.</li>
            '
        },
        {
            img: 'agafonova',
            title: 'Агафонова Елена',
            subtitle: 'врач-косметолог, врач первой квалификационной категории',
            desc: '
            <li><span>Общий стаж:</span> Более 10 лет</li>
            <li><span>Специализация:</span> врач-косметолог, дерматовенеролог</li>
            ',
            list: '
            <li>Большой опыт работы в&nbsp;клиническом центре Управления делами президента.</li>
            <li>Совладелец и научный руководитель клиники Консерн.</li>
            <li>Совладелец салона красоты.</li>
            '
        },
        {
            img: 'zaxarova',
            title: 'Захарова Любовь Сергеевна',
            subtitle: 'медицинская сестра в косметологии, косметолог-эстетист.',
            desc: '
            <li><span>Общий стаж:</span> Более 20 лет</li>
            <li><span>Специализация:</span> Уходовые процедуры для кожи лица, пилинги, омоложение, лечение акне, восковая эпиляция, мезотерапия, биоревитализация, микронидлинг.</li>
            ',
            list: '
            <li>Фотоомоложение, лечение розацеа, омоложение и&nbsp;оздоровление кожи Geneo+, биоревитализация лица гиалуроновой кислотой, мезотерапия, удаление сосудов на&nbsp;лице, лазерное ремоделирование и&nbsp;лифтинг кожи Clear&amp;Brilliant, лечение акне.</li>
            '
        },
        {
            img: 'mirochenko',
            title: 'Миронченко Александр Сергеевич',
            subtitle: 'врач-лечебник, дерматовенеролог, косметолог по телу, массажист',
            desc: '
            <li><span>Общий стаж:</span> Более 8 лет</li>
            <li><span>Специализация:</span> медицинский, висцеральный, моделирующий, спортивный, релаксирующий, тонизирующий, лимфодренажный, аппаратный массаж, кинезиотейпирование</li>
            ',
            list: '
            <li>Разработана авторская методика массажа.</li>
            <li>Опыт обучения на&nbsp;курсах, проведения мастер-классов для врачей&nbsp;&mdash; массажистов&nbsp;&mdash; 4&nbsp;года</li>
            '
        },
        {
            img: 'korsun',
            title: 'Корсун Елена Владимировна',
            subtitle: 'кандидат медицинских наук, специалист в области фитооздоровления/траволечения.',
            desc: '
            <li><span>Общий стаж:</span> Более 10 лет</li>
            <li><span>Специализация:</span> Высшее медицинское образование, врач по специальности «Лечебное дело», врач общей врачебной практики (семейная медицина), врач-фитотерапевт.</li>
            ',
            list: '
            <li>Автор и&nbsp;соавтор многочисленных монографий, статей, научно-популярных изданий в&nbsp;области фитотерапии и&nbsp;травничества.</li>
            <li>Организатор и&nbsp;участник фитотерапевтических съездов, конференций, семинаров.</li>
            <li>Опыт преподавательской работы&nbsp;&mdash; 17&nbsp;лет. Аккредитованный член Национальной ассоциации народной медицины, руководитель учебно-оздоровительного центра при НАНМ.</li>
            '
        }
    ]
%}